GCLeague/.vs
GCLeague/*.csproj
GCLeague/Library
GCLeague/Temp/
GCLeague/Library/
GCLeague/obj/
GCLeague/*.unitypackage
GCLeague/*.sln
GCLeague/UnityPackageManager
GCLeague/*.collabignore
GCLeague/AssetBundles/
GCLeague/EXE/
GCLeague/Logs/
GCLeague/UserSettings/EditorUserSettings.asset
GCLeague/UserSettings/Layouts/default-2022.dwlt
GCLeague/UserSettings/Layouts/default-6000.dwlt